@import "variables";
@import "mixins";

.catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
  max-width: 1024px;
  padding: 0 40px;

  &__container {
    margin: 0 auto;
  }

  &__item {
    margin-bottom: 50px;
    margin-right: 48px;
  }
}
